html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }


.signup__page {
  display: flex;
  width: 100%;
  height: 100%;
}
.left_container {
  width: 50%;
  height: 100%;
}
.right_container {
  width: 50%;
  height: 100vh;
  background-image: url("../../../assets/images/signUp_dog.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  border-radius: 40px 0 0 40px;
}

.right_container > img {
  width: 100%;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  margin: 20% 0 0 25%;
}
.form > label {
  position: relative;
  top: 5px;
  font-size: 14px;
}
.form > input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 12px;
}

.checkbox {
  display: flex;
}
.checkbox > p {
  font-size: 10px;
}
.btn {
  background-color: #30459d;
  color: white;
  padding: 10px 0 10px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}

.login__block{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 15px;
}
.sign-in-link{
    margin-top: 14px;
    margin-left: 5px;
}
