.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.forgot-form h2 {
  margin-bottom: 10px;
}

.forgot-form p {
  margin-bottom: 20px;
}

.forgot-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.forgot-form button {
  width: 100%;
  padding: 12px;
  background: #30459d;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.forgot-form button:hover {
  background: #253a85;
}

.success-message {
  display: flex;
  align-items: center;

  gap: 10px;
  font-weight: 600;
  color: green;
  animation: fadeIn 0.3s ease-in-out;
}
.success-message > span {
  padding-top: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
