.heroSection {
  position: relative;
  width: 100vw;
  height: 80vh;
  margin: 0;
  background-image: url('../../../assets/hero-bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px; 
  padding-bottom: 120px; 
  padding-left: 80px;
}

.heroTitle {
  font-size: 5em;
  font-weight: bold;
  color: white;
  margin-bottom: 1px;
  line-height: 0.2; 
}

.heroSubtitle {
  font-size: 3em; 
  color: white;
}

.heroImageContainer {
  display: none;
}